<!DOCTYPE html>
<html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Información de <%= lcl.nombre %></title>
	<!-- Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<!-- Favicon -->
	<link href="favicon.html" rel="shortcut icon">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">	
	<!-- Script -->
	<script type="text/javascript">
	    window.SAILS_LOCALS = {
	      _csrf: '<%= _csrf %>',
	      lcl: <%- JSON.stringify(lcl) %>
	    };
	</script>
</head>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li><a href="/">Home</a></li>
            <li><a href="/commerce">Tienda</a></li>
            <li class="active"><a href="/locales">Locales</a></li> 
            <li><a href="/espacios">Espacios</a></li> 
             <li><a href="/espacios">Estacionamiento</a></li> 
            <li><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button style="margin-top: -3px;" type="submit" class="btn btn-primary">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          </div>
        </nav>
  </header>

<body>
	<div class="row margin-top-60">
		<div class="col-md-12 text-center" >
			<h2 class"text-center"><strong>Local <%= lcl.nombre %></strong> </h2>
		</div>
	</div>

	<div style="padding-left:200px;" class="blog-item">
		<div class="clearfix"></div>
		<div class="blog-post-body row margin-top-30">
			<div class="col-md-5">
				<%if (lcl.id==1) {%>  <img class="pull-left" src="/images/citypicnic.jpg" alt="citypicnic">  <%}%>
				<%if (lcl.id==2) {%>  <img class="pull-left" src="/images/barra2.jpg" alt="barra2">  <%}%>
				<%if (lcl.id==3) {%>  <img class="pull-left" src="/images/subway.jpg" alt="subway">  <%}%>
				<%if (lcl.id==4) {%>  <img class="pull-left" src="/images/tienda.jpg" alt="tienda">  <%}%>
				<%if (lcl.id==5) {%>  <img class="pull-left" src="/images/mipuntogrill.jpg" alt="mipuntogrill">  <%}%>
				<%if (lcl.id==6) {%>  <img class="pull-left" src="/images/peperonnis.jpg" alt="peperonnis">  <%}%>
				<%if (lcl.id==7) {%>  <img class="pull-left" src="/images/juicebar2.jpg" alt="juicebar2">  <%}%>	
				<%if (lcl.id==8) {%>  <img class="pull-left" src="/images/delipernil.jpg" alt="delipernil">  <%}%>
				<%if (lcl.id==9) {%>  <img class="pull-left" src="/images/pinchopan.jpg" alt="pinchopan">  <%}%>
				<%if (lcl.id==10) {%>  <img class="pull-left" src="/images/chipacookie.jpg" alt="chipacookie">  <%}%>
				<%if (lcl.id==11) {%>  <img class="pull-left" src="/images/delisabores.jpg" alt="delisabores">  <%}%>
				<%if (lcl.id==12) {%>  <img class="pull-left" src="/images/metromix.jpg" alt="metromix">  <%}%>
			</div>
			<div class="col-md-5">
				<h2>Menú</h2>
				<p class='lead'><%= lcl.menu %></p>
				<h2>Horario</h2>
				<p class='lead'><%= lcl.horario %></p>
				<h2>Métodos de Pago</h2>
				<p class='lead'>Crédito: <%= lcl.pagoCredito %></p>
				<p class='lead'>Débito: <%= lcl.pagoDebito %></p>
			</div>
		</div>
	</div>
</body>
</html>