<!DOCTYPE html>
<html>
<head>

	<title>Perfil</title>

<script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
</script>

</head>
<header > 
    <nav class="navbar navbar-default navbar-inverse">      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- Links -->
          <ul class="nav navbar-nav" style="margin-left: 30px;" >
            <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Páginas<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="/">Página de Inicio</a></li>
              <li><a href="/signup">Regístrate</a></li>
              <li><a href="/signup">Acerca de Nosotros</a></li>
              <li><a href="/signup">Contáctanos</a></li>
              <li><a href="/perfil">Perfil</a></li>
              </ul>
            </li>
          </ul>
          </div>
      </nav>
  </header>
<body ng-app="ModuloDePerfil" ng-controller="ControladorDePerfil" >

<h2 style=" margin-left: 200px; margin-top:45px;">¡Hola <strong><%= me.nombre %></strong>!</h2>

<p><h4 style=" margin-left: 200px; margin-top:20px;">Acá podras ver información relevante sobre tu perfil y modificar lo que desees :D</h4></p>

<table class="table" style="width: 70%; margin-top:30px;" align="center">
  <thead>
        <tr>
            <th> NOMBRE : </th>
            <th> APELLIDO : </th>
            <th> EMAIL : </th>
            <th> CARNET : </th>
        </tr>        
  </thead>
  <tbody>
        <tr class="success">
            <th><%= me.nombre %></th>
            <th><%= me.apellido %></th>
            <th><%= me.email %></th>
            <th><%= me.carnet %></th>
        </tr>
  </tbody>
</table>  


<h2 style=" margin-left: 200px; padding-top: 20px" > ¿Deseas Modificar algo? </h2>

<form ng-submit="enviarModificado()" style="width: 85%; padding-top: 10px; padding-left: 200px;">

  <div class="form-group">
    <label for="nombre">Nombre Completo</label>
    <input ng-model="ModForm.nombre" type="text" class="form-control" name="nombre" placeholder="<%= me.nombre %>">
  </div>

   <div class="form-group">
    <label for="apellido">Apellido</label>
    <input ng-model="ModForm.apellido" type="text" class="form-control" name="apellido" placeholder="<%= me.apellido %>">
  </div>

  <div class="form-group">
    <label for="contraseña">Carnet</label>
    <input ng-model="ModForm.carnet" type="text" class="form-control" name="carnet" placeholder="<%= me.carnet %>">
  </div>
  
  <button type="submit" class="btn btn-block btn-primary";><span class="glyphicon glyphicon-pencil"></span> Modificar y Enviar </button>
  
</form>



  <script src="/js/dependencies/angular.js"></script>
  <script>
    var app = angular.module("ModuloDePerfil", []);
    app.controller("ControladorDePerfil", function($scope, $http) {
      
      $scope.enviarModificado = function () {
      
      var dataObj = {
        email: "raffallijoseluis@gmail.com",
        nombre : $scope.ModForm.nombre,
        apellido : $scope.ModForm.apellido,
        carnet : $scope.ModForm.carnet
      };
      console.log(dataObj);

      $http.post('/modificado', dataObj )
      .then(function onSuccess (){
        console.log("Hola exito");
      })
      .catch(function onError(sailsResponse) {

      if (sailsResponse.status === 400 || 404) {

        console.log(sailsResponse);
        return;
      }
        return;

    });
  }
});
</script>
</body>
</html>