<!DOCTYPE html>
<html>
<head>
	<title>Perfil</title>
	<!--STYLES-->
	<link rel="stylesheet" href="/styles/angular-toastr.css">
	<link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
	<link rel="stylesheet" href="/styles/carrusel.css">
	<link rel="stylesheet" href="/styles/importer.css">
	<!--STYLES END-->

<script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
</head>
<header > 
    <nav class="navbar navbar-default navbar-inverse">      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/#"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- Links -->
          <ul class="nav navbar-nav" style="margin-left: 30px;" >
            <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Páginas<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Página de Inicio</a></li>
              <li><a href="/signup">Regístrate</a></li>
              <li><a href="/signup">Acerca de Nosotros</a></li>
              <li><a href="/signup">Contáctanos</a></li>
              <li><a href="/perfil">Perfil</a></li>
              </ul>
            </li>
          </ul>
          </div>
      </nav>
  </header>
<body>

<h2 style=" margin-left: 200px; margin-top:30px;">¡Hola <strong class="text-success"><%= me.nombre %></strong>!</h2>

<p><h4 style=" margin-left: 200px; margin-top:20px;">Acá podras ver información relevante sobre tu perfil y modificar lo que desees :D</h4></p>

<table class="table" style="width: 70%; margin-top:30px;" align="center">
  <thead class="thead-inverse">
        <tr>
            <th> NOMBRE : </th>
            <th> APELLIDO : </th>
            <th> EMAIL : </th>
            <th> CARNET : </th>
        </tr>        
  </thead>
  <tbody>
        <tr class="table-success">
            <th><%= me.nombre %></th>
            <th><%= me.apellido %></th>
            <th><%= me.email %></th>
            <th><%= me.carnet %></th>
        </tr>
  </tbody>
</table>               
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/angular.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/toastr.js"></script>
<script src="/js/dependencies/compareTo.js"></script>
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/public/signup/ModuloDeRegistro.js"></script>
<script src="/js/public/homepage/ModuloHomePage.js"></script>
<script src="/js/public/homepage/ControladorDeHomePage.js"></script>
<script src="/js/public/signup/ControladorDeRegistro.js"></script>
<!--SCRIPTS END-->

</body>
</html>