<!DOCTYPE html>
<html>
<head>

	<title>Perfil</title>

<script type="text/javascript">
    var PK;
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
</script>

</head>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li><a href="/">Home</a></li>
            <li><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li><a href="/espacios">Espacios</a></li> 
             <li><a href="/espacios">Estacionamiento</a></li> 
            <li class="active"><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
        </nav>
  </header>
<body onload="alCargar();" ng-app="ModuloDePerfil" ng-controller="ControladorDePerfil" >

<h2 style=" margin-left: 200px; margin-top:45px;">¡Hola <strong><%= me.nombre %></strong>!</h2>

<p><h4 style=" margin-left: 200px; margin-top:20px;">Acá podras ver información relevante sobre tu perfil y modificar lo que desees :D</h4></p>

<table class="table" style="width: 70%; margin-top:30px;" align="center">
  <thead>
        <tr>
            <th> NOMBRE : </th>
            <th> APELLIDO : </th>
            <th> EMAIL : </th>
            <th> CARNET : </th>
        </tr>        
  </thead>
  <tbody>
        <tr class="success">
            <th><%= me.nombre %></th>
            <th><%= me.apellido %></th>
            <th><%= me.email %></th>
            <th><%= me.carnet %></th>
        </tr>
  </tbody>
</table>  


<h2 style=" margin-left: 200px; padding-top: 20px" > ¿Deseas Modificar algo? </h2>

<form ng-submit="enviarModificado()" style="width: 85%; padding-top: 10px; padding-left: 200px;">
  <div class="form-group">
    <label for="nombre">Nombre Completo</label>
    <input ng-model="ModForm.nombre" type="text" class="form-control" name="nombre" placeholder="<%= me.nombre %>">
  </div>

   <div class="form-group">
    <label for="apellido">Apellido</label>
    <input ng-model="ModForm.apellido" type="text" class="form-control" name="apellido" placeholder="<%= me.apellido %>">
  </div>

  <div class="form-group">
    <label for="contraseña">Carnet</label>
    <input ng-model="ModForm.carnet" type="text" class="form-control" name="carnet" placeholder="<%= me.carnet %>">
  </div>

  <input type="hidden"  value="<%= me.email %>" id="ModForm.email">

  <button type="submit"  class="btn btn-block btn-primary" ><span class="glyphicon glyphicon-pencil"></span> Actualizar Datos </button>
  
  

</form>



  <script src="/js/dependencies/angular.js"></script>
  <script>
  
  function alCargar(){
    PK = document.getElementById("ModForm.email").value;
  }

    var app = angular.module("ModuloDePerfil", []);
    app.controller("ControladorDePerfil", function($scope, $http) {
      
      $scope.enviarModificado = function () {
      
      $scope.PK= PK;


      var dataObj = {
        email:  $scope.PK  ,
        nombre : $scope.ModForm.nombre,
        apellido : $scope.ModForm.apellido,
        carnet : $scope.ModForm.carnet
      };
      

      $http.post('/modificado', dataObj )
      .then(function onSuccess (){
      console.log("Hola exito");
      window.location='/perfil';
      })
      .catch(function onError(sailsResponse) {

      if (sailsResponse.status === 400 || 404) {

        console.log(sailsResponse);
        return;
      }
        return;

    });
  }
});
</script>
</body>
</html>