<!DOCTYPE html>
<html>
<head>
	<title>Sakila</title>
	<link rel="stylesheet" type="text/css" href="/styles/tarea.css">

</head>
<body>
    <div align="center">    
        <h1> ENUNCIADO: <%= id %></h1>
        <% if (id==1)  { %><p>BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
            <table id="t01" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Pelicula</th>
          <th scope="col">Nombre Actor</th>
          <th scope="col">Categoría</th>
          <th scope="col">Inglés</th>
          <th scope="col">Descripción</th>
          <th scope="col">Ciudades</th>
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Pelicula %></th>
          <td scope="row"><%= tbl.NombreActor %></td>
          <td scope="row"><%= tbl.Categoria %></td>
          <td scope="row"><%= tbl.Ingles %></td>
          <td scope="row"><%= tbl.Descripcion %></td>
          <td scope="row"><%= tbl.Ciudades %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
        <% } else if (id==2) { %><p>BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
            <table id="t02" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Empleado</th>
          <th scope="col">Ventas Totales</th>
          <th scope="col">Ganancia Total</th>
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Empleado %></th>
          <td scope="row"><%= tbl.RentasTotales %></td>
          <td scope="row"><%= tbl.GananciaTotal %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
        <% } else if (id==3) { %><p>BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
            <table id="t03" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Peliculas Nunca Rentadas</th>

        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.PeliculasNuncaRentadas %></th>
        </tr>
      <% }); %>
      </tbody>
    </table>
        <% } else if (id==4) { %><p>BLA BLA BLA BLA BLA BLA BLA BLA BLA</p>
            <table id="t04" class="table" style="width: 70%; margin-top: 60px;" align="center" >
      <thead>
        <tr>
          <th scope="col">Cliente</th>
        </tr>
      </thead>
      <tbody>
      <% tabla.forEach(function(tbl)  { %>
        <tr>
          <th scope="row"><%= tbl.Cliente %></th>
        </tr>
      <% }); %>
      </tbody>
    </table>
        <% } else { %><p>BLA BLA BLA BLA BLA BLA BLA BLA BLA</p> <% } %>
        
        <button style="margin:20px;" class="btn btn-lg btn-query" onclick=""><span class="glyphicon glyphicon-play"></span> Query # <%= id %></button>
    </div>

    <div id="showData" class="table-responsive"></div>


</body>
</html>