<!DOCTYPE html>
<html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Tienda</title>
	<!-- Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<!-- Favicon -->
	<link href="favicon.html" rel="shortcut icon">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li><a href="/espacios">Espacios</a></li> 
             <li><a href="/espacios">Estacionamiento</a></li> 
            <li><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button style="margin-top: -3px;" type="submit" class="btn btn-primary">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          </div>
        </nav>
  </header>
<body>

  <div style="margin-top: 60px;" ><h2 align="center"><strong>Útiles</strong></h2></div>
    
  </div>

<table class="table" style="width: 70%;" align="center" >
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Disponibilidad</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
  <% util.forEach(function(utiles)  { %>
    <tr>
      <th scope="row"><%= utiles.nombre %></th>
      <td><%- utiles.cantidad %></td>
      <td><%- utiles.precio %> Bs.</td>
      <td><a class="btn btn-xs btn-primary" href="/commerce/singular/<%= utiles.id %>" role="button">Agregar al carrito <span class="glyphicon glyphicon-shopping-cart"></span></a></td>
    </tr>
  <% }); %>
  </tbody>
</table>
</body>
</html>