<!DOCTYPE html>
<html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>Tienda</title>
	<!-- Meta -->
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<!-- Favicon -->
	<link href="favicon.html" rel="shortcut icon">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,300" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<header ng-app="ModuloHomePage" ng-controller="ControladorDeHomePage" ng-cloak> 
    <nav style="margin-top:1px;" class="navbar navbar-default navbar-inverse">
      
          <!-- Manera de Bootstrap para colapasar el menu de navegacion -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- Lineas que salen cuando el menu se colapsa-->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- Nombre de la app -->
          <a class="navbar-brand" href="/"><img src="/./images/MetrocenterLogoForPage.png" id="MetroCenterImg"></a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" style="padding-left: 250px">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/commerce">Tienda</a></li>
            <li><a href="/locales">Locales</a></li> 
            <li><a href="/espacios">Espacios</a></li> 
             <li><a href="/espacios">Estacionamiento</a></li> 
            <li><a ng-click="verificarLog()" href="/perfil">Perfil</a></li>
          </ul>
          <!-- ******************Simple Formulario de LogIn ****************** -->
          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- EMAIL -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- CONTRASEÑA -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Contraseña" name="password" class="form-control">
              </div>

              <!-- SUBMIT -->
              <button style="margin-top: -3px;" type="submit" class="btn btn-primary">
                <span ng-show="!loginForm.loading">Entrar</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Entrando...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
          </div>
        </nav>
  </header>
<body>

  <div style="margin-top: 60px;" ><h2 align="center"><strong>Catálogo de Útiles</strong></h2></div>
    
  </div>

<table class="table" style=" width: 70%;" align="center" >
  <thead>
    <tr>
      <th>Artículo</th>
      <th>Disponibilidad</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
  <% util.forEach(function(utiles)  { %>
    <tr>
      <th scope="row"><%= utiles.nombre %></th>
      <td><%- utiles.cantidad %></td>
      <td><%- utiles.precio %> Bs.</td>
      <td><button class="btn btn-xs btn-primary" onclick="AddtoCart('<%= utiles.nombre %>','1',<%- utiles.precio %>)" >Agregar al carrito <span class="glyphicon glyphicon-shopping-cart"></span></button> </td>
    </tr>
  <% }); %>
  </tbody>
</table>

<!-- Tabla Carrito -->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-6">
                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Carrito de Comras</h5>
              </div>
            </div>
          </div>
  <table id="orderedProductsTbl" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:50%">Producto</th>
              <th style="width:10%">Cantidad</th>
              <th style="width:8%">Precio</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody id="orderedProductsTblBody" >
            <tr>
              <td data-th="Product">
              -
              </td>
              <td data-th="Quantity">-</td>
              <td data-th="Price">-</td>
              <td data-th="Subtotal" class="text-center">-</td>
              <td class="actions" data-th="">
                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>           
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td><a href="/tienda" class="btn btn-warning"><i class="fa fa-angle-left"></i> Volver a tienda</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center" id="cart_total" ><strong>0 Bs</strong></td>
              <td><a href="/commerce/compra-exitosa" class="btn btn-primary btn-block">Proceder a comprar <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
</div>

    <script type="text/javascript">
        
        
        //create array that will hold all ordered products
        var shoppingCart = [];
        
        //this function manipulates DOM and displays content of our shopping cart
        function displayShoppingCart(){
            var orderedProductsTblBody=document.getElementById("orderedProductsTblBody");
            //ensure we delete all previously added rows from ordered products table
            while(orderedProductsTblBody.rows.length>0) {
                orderedProductsTblBody.deleteRow(0);
            }
                   
            //variable to hold total price of shopping cart
            var cart_total_price=0;
            //iterate over array of objects
            for(var product in shoppingCart){
                //add new row      
                var row=orderedProductsTblBody.insertRow();
                //create three cells for product properties 
                var cellName = row.insertCell(0);
                var cellDescription = row.insertCell(1);
                var cellPrice = row.insertCell(2);
                cellPrice.align="right";
                //fill cells with values from current product object of our array
                cellName.innerHTML = shoppingCart[product].Name;
                cellDescription.innerHTML = shoppingCart[product].Description;
                cellPrice.innerHTML = shoppingCart[product].Price;
                cart_total_price+=shoppingCart[product].Price;
            }
            //fill total cost of our shopping cart 
            document.getElementById("cart_total").innerHTML=cart_total_price;
        }
        
        
        function AddtoCart(name,description,price){
           //Below we create JavaScript Object that will hold three properties you have mentioned:    Name,Description and Price
           var singleProduct = {};
           //Fill the product object with data
           singleProduct.Name=name;
           singleProduct.Description=description;
           singleProduct.Price=price;
           //Add newly created product to our shopping cart 
           shoppingCart.push(singleProduct);
           //call display function to show on screen
           displayShoppingCart();
           
        }  


        //Add some products to our shopping cart via code or you can create a button with onclick event
        //AddtoCart("Table","Big red table",50);
        //AddtoCart("Door","Big yellow door",150);
        //AddtoCart("Car","Ferrari S23",150000);

        
        
        
    </script>

</body>
</html>